h1,h2,h3{
    background: linear-gradient(45deg, #ff0000, #0000ff);
    background-clip: text;
    color:transparent
  }
.concept-list {
    list-style: none;
    padding-left: 0;
    display:flex;
    gap:10px;
}
.concept-list li {
    flex: 1;
}
#Examples{
    margin:3rem auto;
}
#Examples{
    text-align: left;
}
#Examples menu {
    margin:1rem auto;
    list-style: none;
    display:flex;
    gap:2px;
    color: #535bf2;
}
button{
    width:auto;
    height:35px;
    margin:1px;
    background:white;
}
.active{
    color:white;
    background:#535bf2;
}
